In [1]:
# importing required liabraries
import tensorflow_hub as hub
import tensorflow as tf
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import csv
import nltk

In [0]:
#Inintializing ELMO embeddinf from Tensorflow Hub

elmo = hub.Module("https://tfhub.dev/google/elmo/3", trainable=True)

In [3]:
#Connecting to Google Drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
#Reading Dataset from Google Drive
df=pd.read_csv("/content/drive/My Drive/Precily/Text_Similarity_Dataset.csv")

In [5]:
#Showing top 5 tuple of the dataframe
df.head()

   Unique_ID  ...                                              text2
0          0  ...  newcastle 2-1 bolton kieron dyer smashed home ...
1          1  ...  nasdaq planning $100m share sale the owner of ...
2          2  ...  ruddock backs yapp s credentials wales coach m...
3          3  ...  mci shares climb on takeover bid shares in us ...
4          4  ...  media gadgets get moving pocket-sized devices ...

[5 rows x 3 columns]

In [6]:
# Checking dataset for null values  

df.isnull().sum()

Unique_ID    0
text1        0
text2        0
dtype: int64

In [7]:
#Converting dataframe to list columwise 

txt1=df['text1'].values.tolist()
txt2=df['text2'].values.tolist()



print('Total Tuples in Dataframe is ',len(df))
print('Total Tuples in Text1 is ',len(txt1))
print('Total Tuples in Text2 is ',len(txt2))

Total Tuples in Dataframe is  4023
Total Tuples in Text1 is  4023
Total Tuples in Text2 is  4023

In [8]:
#Downloading required data for preprocessing

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
from nltk.tokenize import word_tokenize # To tokenize sentence to words
from nltk.stem import WordNetLemmatizer # To Lemmatize word
from nltk.corpus import stopwords       # Common stopwords

In [0]:
stopwords=set(stopwords.words("english")) # Loading stopwords to variable
lemmatizer=WordNetLemmatizer() # Initializing lemmatizer

In [0]:
def stopword(sentence): # Funtion to remove stopwords from text.
    token_words=word_tokenize(sentence)
    token_words
    stop_sentence=[]
    for word in token_words:
      if word not in stopwords:
        stop_sentence.append(word)
        stop_sentence.append(" ")
    return "".join(stop_sentence)


def lemm(sentence): # Funtion to lemmatize text.
    token_words=word_tokenize(sentence)
    token_words
    stem_sentence=[]
    for word in token_words:
        stem_sentence.append(lemmatizer.lemmatize(word))
        stem_sentence.append(" ")
    return "".join(stem_sentence)

def preprocess(sentence): # Funtion to preprocess text.
    return lemm(stopword(sentence))

In [0]:
# Preprocess text and saving to other list

text1=[]
text2=[]

for i in range(len(df)):
  text1.append(preprocess(txt1[i]))
  text2.append(preprocess(txt2[i]))

In [14]:
print("Text before preprocessing")
print(txt1[0])

print("Text After preprocessing")
print(text1[0])

Text before preprocessing
savvy searchers fail to spot ads internet search engine users are an odd mix of naive and sophisticated  suggests a report into search habits.  the report by the us pew research center reveals that 87% of searchers usually find what they were looking for when using a search engine. it also shows that few can spot the difference between paid-for results and organic ones. the report reveals that 84% of net users say they regularly use google  ask jeeves  msn and yahoo when online.  almost 50% of those questioned said they would trust search engines much less  if they knew information about who paid for results was being hidden. according to figures gathered by the pew researchers the average users spends about 43 minutes per month carrying out 34 separate searches and looks at 1.9 webpages for each hunt. a significant chunk of net users  36%  carry out a search at least weekly and 29% of those asked only look every few weeks. for 44% of those questioned  the information they are looking for is critical to what they are doing and is information they simply have to find.  search engine users also tend to be very loyal and once they have found a site they feel they can trust tend to stick with it. according to pew research 44% of searchers use just a single search engine  48% use two or three and a small number  7%  consult more than three sites. tony macklin  spokesman for ask jeeves  said the results reflected its own research which showed that people use different search engines because the way the sites gather information means they can provide different results for the same query. despite this liking for search sites half of those questioned said they could get the same information via other routes. a small number  17%  said they wouldn t really miss search engines if they did not exist. the remaining 33% said they could not live without search sites. more than two-thirds of those questioned  68%  said they thought that the results they were presented with were a fair and unbiased selection of the information on a topic that can be found on the net. alongside the growing sophistication of net users is a lack of awareness about paid-for results that many search engines provide alongside lists of websites found by indexing the web. of those asked  62% were unaware that someone has paid for some of the results they see when they carry out a search. only 18% of all searchers say they can tell which results are paid for and which are not. said the pew report:  this finding is ironic  since nearly half of all users say they would stop using search engines if they thought engines were not being clear about how they presented paid results.  commenting mr macklin said sponsored results must be clearly marked and though they might help with some queries user testing showed that people need to be able to spot the difference.
Text After preprocessing
savvy searcher fail spot ad internet search engine user odd mix naive sophisticated suggests report search habit . report u pew research center reveals 87 % searcher usually find looking using search engine . also show spot difference paid-for result organic one . report reveals 84 % net user say regularly use google ask jeeves msn yahoo online . almost 50 % questioned said would trust search engine much le knew information paid result hidden . according figure gathered pew researcher average user spends 43 minute per month carrying 34 separate search look 1.9 webpage hunt . significant chunk net user 36 % carry search least weekly 29 % asked look every week . 44 % questioned information looking critical information simply find . search engine user also tend loyal found site feel trust tend stick . according pew research 44 % searcher use single search engine 48 % use two three small number 7 % consult three site . tony macklin spokesman ask jeeves said result reflected research showed people use different search engine way site gather information mean provide different result query . despite liking search site half questioned said could get information via route . small number 17 % said really miss search engine exist . remaining 33 % said could live without search site . two-thirds questioned 68 % said thought result presented fair unbiased selection information topic found net . alongside growing sophistication net user lack awareness paid-for result many search engine provide alongside list website found indexing web . asked 62 % unaware someone paid result see carry search . 18 % searcher say tell result paid . said pew report : finding ironic since nearly half user say would stop using search engine thought engine clear presented paid result . commenting mr macklin said sponsored result must clearly marked though might help query user testing showed people need able spot difference .

# Using Elmo embedding

In [0]:
# Converting text to vector using ELMO on Tensorflow Hub

def elmo_vectors(x):
   
  embeddings=elmo(x, signature="default", as_dict=True)["elmo"]
  
  with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    sess.run(tf.tables_initializer())
    # return average of ELMo features
    return sess.run(tf.reduce_mean(embeddings,1))

In [0]:
import gc
from tqdm import tnrange
csv_filename = 'Semantic_Record'
elmo_embeddings_text1=[]
elmo_embeddings_text2=[]
simlarity=[]
simlarity_matrix=[]


for i in tnrange(len(df)):
  
    #Computing vector and calculating simlarity using cosin simlarity
    
    elmo_embeddings_text1.append(elmo_vectors([text1[i]])[0])
    elmo_embeddings_text2.append(elmo_vectors([text2[i]])[0])
    simlarity_matrix=cosine_similarity(elmo_embeddings_text1, elmo_embeddings_text2)
    simlarity.append(float (simlarity_matrix[0]))
    simlarity[0]=round((simlarity[0]-1)*(-1),4)
    
    with open(csv_filename,'a', newline='') as simlarity_file:
        writer = csv.writer(simlarity_file)
        writer.writerow(simlarity) #Saving simlarity of text in csv file
    del simlarity[:]
    del simlarity_matrix
    del elmo_embeddings_text1[:]
    del elmo_embeddings_text2[:]
    gc.collect()                  #Garbage collection to free memory

In [17]:
# Reading Simlarity values computed above

Semantic_Record=pd.read_csv("Semantic_Record.csv")

# Top 5 values of dataset

Semantic_Record.head()

   Simlarity
0     0.4825
1     0.2848
2     0.2401
3     0.2284
4     0.2128

In [27]:
# Storing simlarity values in list

simlarity=Semantic_Record['Simlarity'].values.tolist()
print("Total number of simlarity count is",len(simlarity))

Total number of simlarity count is 4023

In [0]:
# Storing Unique_ID values in list

unique=df['Unique_ID'].values.tolist()

# Ziping both the list in a dataframe 

result=pd.DataFrame(list(zip(unique,simlarity)),columns =['Unique_ID','Similarity_Score'],index=None)

In [0]:
# Storing result in a csv file
result.to_csv('Similarity_Scores.csv')